.test{
  background-color:chartreuse;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-style:normal;
}
.login-container{
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.5rem;
  padding: 0;
  animation-name: form-in-animation;
  animation-duration: 1s;
}
.shadow-custom {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
}

@keyframes form-in-animation {
  from { left: -200px; }
  to { left: 0px; }
}